<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Document {% endblock %} 
    </title>
    {% block style %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock  %}
</head>
<body>
    
    <main>
        {% block content %}
            {% include "header.html" %}
        {% endblock  %}
    </main>
    <br
    <hr>
    {% include "footer.html" %}

</body>
</html>