{% extends "base.html" %}

{% block title %} Items list {% endblock %}

{% block content %}
    {{ block.super }}

    <h1> Список товаров </h1>
    <div class="items">
        {% for item in items %}
            <div class="item">
                <a href='{% url "item-detail" item.id %}'> 
                    <p class="item_name">{{ item.name | capfirst }}  </p>
                    <p>Описание товара:</p>
                    <p>{{ item.description }} </p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}